<%= form_tag({ :action => :listalbums, :album => @txtbuscar}, { :method => :put })  do %>
<p id="notice"><%= notice %></p>  
   <div class="field">
   	   <%= label_tag :Albumnes  %>
   	   <%= text_field_tag :txtbuscar %>
   </div>
   <div class="actions">
     <%= submit_tag "Search ..." %>
   </div>
<%end %>